<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
<!-- favicon android -->
<link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
<meta name="theme-color" content="#1f1f1f">
<!-- favicon ios -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
<!-- favicon macos -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/favicon/safari-pinned-tab.svg' | relative_url }}" color="#1f1f1f">
<!-- favicon windows -->
<meta name="application-name" content="mxskb"/>
<meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed=https://imaoki.github.io/mxskb/feed.xml&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed=https://imaoki.github.io/mxskb/feed.xml&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed=https://imaoki.github.io/mxskb/feed.xml&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed=https://imaoki.github.io/mxskb/feed.xml&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed=https://imaoki.github.io/mxskb/feed.xml&amp;id=5; cycle=1">
<meta name="msapplication-square150x150logo" content="{{ '/assets/favicon/medium.jpg' | relative_url }}">
<meta name="msapplication-square310x310logo" content="{{ '/assets/favicon/large.jpg' | relative_url }}">
<meta name="msapplication-square70x70logo" content="{{ '/assets/favicon/small.jpg' | relative_url }}">
<meta name="msapplication-tilecolor" content="#1f1f1f">
<meta name="msapplication-wide310x150logo" content="{{ '/assets/favicon/wide.jpg' | relative_url }}">
