<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
{% include favicon.html %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
<link rel="stylesheet" href="{{ '/assets/css/icon.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/photoswipe.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/default-skin/default-skin.css' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url | append: site.baseurl | append: '/atom.xml' | relative_url }}">
<link rel="canonical" href="{{ site.url | append: site.baseurl | append: page.url | relative_url }}">
<title>{{ site.title }}{% if page.title %}.{{ page.title }}{% endif %}</title>
{% include script.html %}
</head>
