/*! © 2015 imaoki | MIT License | https://github.com/imaoki */
@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  src:
    url("font/icon.ttf?ag4bpy") format("truetype"),
    url("font/icon.woff?ag4bpy") format("woff"),
    url("font/icon.svg?ag4bpy#icon") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  /* Enable Ligatures ================ */
  -moz-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  letter-spacing: 0;

  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-alert-triangle::before {content: "\e90d";}
.icon-anchor::before {content: "\e900";}
.icon-calendar::before {content: "\e901";}
.icon-chevron-left::before {content: "\e902";}
.icon-chevron-right::before {content: "\e903";}
.icon-chevron-up::before {content: "\e904";}
.icon-clipboard::before {content: "\e910";}
.icon-clock::before {content: "\e905";}
.icon-corner-down-left::before {content: "\e90c";}
.icon-edit::before {content: "\e90e";}
.icon-external-link::before {content: "\e908";}
.icon-github::before {content: "\e906";}
.icon-info::before {content: "\e90f";}
.icon-menu::before {content: "\e907";}
.icon-rss::before {content: "\e909";}
.icon-search::before {content: "\e90a";}
.icon-tag::before {content: "\e90b";}
