<!doctype html>
<html lang="ja">
{% include head.html %}
<body class="page wrapper">
<header class="page header">
<h1 class="page title"><a class="static" href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
<ul class="hlist page nav">
{% include categories.html %}
{% include tags.html %}
</ul>
</header>
<main class="page main">
{{ content }}
</main>
<footer class="page footer">
<ul class="hlist">
<li class="item"><p class="copyright">&copy; {{ site.copyright }} {{ site.author.name }}</p></li>
<li class="item"><a class="button icon github" href="https://github.com/{{ site.author.name }}"></a></li>
<li class="item"><a class="button icon feed" href="{{ '/atom.xml' | relative_url }}"></a></li>
</ul>
</footer>
{% if site.show_template_path %}<span class="template">{{ site.baseurl }}/_layouts/page.html</span>{% endif %}
</body>
</html>
